.card {
  max-width: 934px;
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #DFE1E6;
  border-radius: 5px;
  box-shadow: 1px 3px 6px rgba(15, 15, 15, 0.10000000149011612);
}