.sidebar {
  height: 635px;
  display: flex;
  flex-direction: column;
  padding: 0 23px;
  font-size: 14px;

  .link {
    margin: 10px 0;
    a {
      color: #42526E;
      text-decoration: none;
    }
  
    a img {
      padding-right: 15px;
    }
  }

  .link:hover {
    a {
      color: #529C4E;
      text-decoration: none;
    }
  }
}

.payment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 196px;
  height: 36px;
  margin: 0 auto;
  background-color: rgba(103, 196, 98, 0.11999999731779099);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(15, 15, 15, 0.1), inset 0 0 0 1px rgba(103, 196, 98, 0.3);
  color: #67C462;
  font-weight: 600;

  i {
    width: 11px;
    height: 11px;
    margin: 12px 5px;
    padding: 0;
    border: 1px solid #67C462;
    border-radius: 100%;
    font-size: 10px;
    text-align: center;
  }

  p {
    margin: 0;
    padding: 9px 0;
    font-size: 14px;
  }
}